*{
	box-sizing: border-box;
}

body{
	font-family: $roboto;
}

img{
	width: 100%;
	height: auto;
}
header{
	background-color: $nav-bg !important;
}
b{
	color: $color-green;
}

a{
	text-decoration: none;
}

.mdl-layout__header-row{
	padding: 0 10px;
}

.page-content{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.mdl-layout-title{
	font-weight: bold;
}

.mdl-navigation{
	a{
		text-transform: uppercase;
		font-weight: bold;
		&:hover{
			color: $color-green;
		}
	}
}
.mdl-layout__drawer-button{
	left: 90%;
	
}