*{
	box-sizing: border-box;
}

body{
	font-family: $roboto;
}

img{
	width: 100%;
	height: auto;
}
header{
	background-color: $nav-bg !important;
}
b{
	color: $color-green;
}

a{
	text-decoration: none;
}
.section-gray{
	background: #F2F2F1;
}

.page-content-full-width{
	width: 100%;
	max-width: 1600px;
}

.page-content{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.main-content{
	padding: 50px 0;
}
.mdl-layout__content{
	display: block;
}
.mdl-layout__header-row{
	padding: 0 10px;
}

.mdl-layout-title{
	font-weight: bold;
}

.mdl-navigation{
	a{
		text-transform: uppercase;
		font-weight: bold;
		&:hover{
			color: $color-green;
		}
	}
}

.col-item{
	h3{
		font-size: 30px;
		text-transform: uppercase;
		font-weight: bold;
		color: $title;
	}
	p{
		color: $text-gray;
	}
}
.page-content-full-width{
	.mdl-grid, .mdl-cell{
		margin: 0;
		padding: 0;
	}
}

.custom-button{
	border: 1px solid $color-green;
	background: none;
	color: $color-green;
	&:hover{
		background: $color-green;
		color: $color-white;
	}
}