.hero-banner{
	position: relative;
	.hero-content{
		color: #FFF;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		h3{
			font-size: 3em;
			font-weight: bold;
			text-transform: uppercase;
			padding: 10px 0;
			border-top: 2px solid $color-white;
			border-bottom: 2px solid $color-white;
		}
		button{
			background: none;
			border: 1px solid $color-white;
			width: 150px;
			a{
				color: $color-white;
			}
			&:hover{
				background: $color-green;
			}
		}
	}
}

